[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.6"
django-environ = "~=0.11.2"
django-cors-headers = "~=4.3.0"
whitenoise = "~=6.6.0"
django-leaflet = "~=0.29.0"
dj-database-url = "~=2.1.0"
psycopg = "~=3.1.12"
psycopg-binary = "~=3.1.12"
django-geojson = "~=4.0.0"
django-storages = "~=1.14.2"
boto3 = "~=1.28.69"
django-cloudinary-storage = "~=0.3.0"
gunicorn = "~=21.2.0"
djangorestframework-gis = "~=1.0"
djangorestframework = "~=3.14.0"

[dev-packages]
black = "~=23.10.0"
django-debug-toolbar = "~=4.2.0"
faker = "~=19.11.0"
coverage = "~=7.3.2"

[requires]
python_version = "3.10"
