{% load leaflet_tags %}
<html>
<head>
<title>First GeoDjango Application</title>
{% leaflet_js %}
{% leaflet_css %}
<script  src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
	.leaflet-container {height: 100%; }
</style>
</head>
<body>
<h2>My First Map</h2>
<div style="height: 600px ">
{% leaflet_map "main" callback="main_map_init" %}
</div>

    <script type="text/javascript">
        function main_map_init (map, options) {
            var dataurl = '{% url "data" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data).addTo(map);
            });
        }
    </script>

</body>
</html>