.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.leaflet-container {
  height: 100%;
}

.gh-image {
  align-content: end;
  width: 125px;
  height: 41px;
}